body{
  background-color: #ffdde5;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.jumbotron {
  background-image: url("http://www.loveimagesdownload.com/wp-content/uploads/2016/08/Love-Images-6.jpg");
  height: 300px;
}

#logo {
  margin: auto;
  width: 40%;
  max-width: 400px;
   background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

h2 {
  margin-top: 0px;
  font-size: 40px;
  color: pink;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;

}

.login {
    position: absolute;
    right: 0px;

}

p {
  margin-top: 5px;
}

.ding {
 border-style: solid;
 border-width: 5px;
 border-color: #ffdde5;
}

#questions {
  float: left;
  /background-color: white;
  margin-top: 15px;
}

#answers {
  float: left;
  /background-color: grey;
  margin-top: 20px;
  width: 55%;
}

.question {
  margin-bottom: 16px;
}

.answer {
 height: 34px;
 margin-bottom: 3px;
  width: 140px;
}

#formcontainer {
  background-color: #ffc5ce;
  height: 450px;
  padding: 15px;
  padding-bottom: 0px;

}
.col-sm-4 {
	background-color: #ffb5bb;
	height: 638px;
	margin-top: 5px;
}

#gegevens{
	font-size: 25px;
}
.page-footer{
	margin-top: 15px;
	background-color: #fcabab;
}
